*{
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  clear: none;
  text-decoration: none;
}

body{
  background-color: #ededed;
}

/* Layout */
.search{
  margin-top: 30px;
  margin-left: 20%;
  width: 60%;
}

#search{
  margin-left: 25%;
  margin-top: 30px;
  width: 40%;
  height: 35px;
}

#sub_button{
  color: white;
  border: 1px solid;
  width: 100px;
  height: 35px;
  border-radius: 5px;
  background-color: #0d3f91;
  margin-left: 5px;
  font-weight: 600;
}


.web{
  margin-left: 2%;
  float: left;
}

.images {
  padding: 10px;
  width: 100px;
  height: 100px;
}

.items_images{
  margin-right: 2%;
  float: right;
}


.items_images, .web {
  display: none;
  border-radius: 20px;
  border: 1px #cccccc;
  width: 45%;
  padding: 10px;
  margin-top: 3%;
  background-color: #ffffff;
}

.items_images h1, .web h1 {
  margin-left: 10px;
  color: #595a5b;
}


/* Web results styling */

.title{
  color: #0d3f91;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}

.link{
  margin-top: 1px;
  margin-bottom: 20px;
  color: #1e910c;
}

/* Link styling */

#links{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 18px;
  width: 30%;
  margin-left: 35%;
}

.move_links{
  margin-left: 8px;
}

#links button{
  border: none;
  color: #0d3f91;
  background-color: inherit;
}


/* Media queries */

@media only screen and (max-width: 800px) {
  .web, .items_images {
    float: none;
    width : 80%;
    margin-left: 10%;
  }

  #links {
    width: 50%;
    margin-left: 25%;
  }

  #sub_button {
    width: 50%;
    margin-left: 25%;
    margin-top: 10px;
  }

  #search {
    width: 90%;
    margin-left: 10%;
    border-radius: 5px;
  }
}
